<div class='mt-4'>
    <form method="GET" action="home">
        <div class="form-group">
            <label for="search-input">Search Engine</label>
            <input type="text" name="name" class="form-control" placeholder="Your name">
            <input type="text" name="age" class="form-control" placeholder="Your age">
            <input type="text" name="q" class="form-control" id="search-input" placeholder="Search by keywords...">
        </div>

        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>