@import 'variables';

.test {
  font-size: 1rem;
  background-color: royalblue;
  width: 100px;
}

h1 {
  color: $text-color;
  font-family: 'Courier New', Courier, monospace;
}

.card-model-item {
  margin-top: 15px;
}


.user-avatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-right: 5px;
}